streamlit
python-dotenv
pymupdf
pandas
tiktoken
requests

langchain==0.2.17
langchain-community==0.2.19
langchain-core==0.2.43
langchain-text-splitters==0.2.4
langsmith==0.1.147
langchain-ollama==0.1.3
langchain-google-genai==1.0.10
langchain-groq==0.1.9
protobuf==4.25.9

chromadb
sentence-transformers==3.0.1
transformers==4.44.2
torch
torchvision